/* logo img */

#main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    z-index: 1;
    position: relative;
}

.reserv {
    background-color: #00000059;
    color: white;
    padding: 1% 3%;
}

.logo_img {
    width: 150px;
    height: 100px;
}

.logo {
    margin-left: 9em;
}

.video {
    margin-top: -10%;
}

.sidebar {
    height: 80%;
    width: auto;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3939398a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 14px 35px 14px 35px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    font-size: 35px;
}

#close {
    float: right;
}

#close {
    display: none;
}

.sidebar .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 35px;
    margin-left: 50px;
}

.openbtn {
    font-size: 35px;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: -30%;
}

.closebtn {
    cursor: pointer;
    /* font-size: ; */
}

.ul_extend {
    list-style: none;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.social_cont {
    justify-content: center;
    flex-direction: column;
}

img,
svg {
    vertical-align: text-top;
}

.blue:hover {
    background-color: blue;
}

.red:hover {
    background-color: red;
}


/* welcome */

.info {
    background-color: #3e3a39;
    margin-top: -1%;
    color: white;
}

.title,
.wlcto {
    margin-top: 0;
    margin-bottom: 5px;
    letter-spacing: 10px;
    font-size: 50px;
    display: block;
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
}

.title2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.read {
    font-size: 18px;
    line-height: 1.8;
    background-color: #35302f;
    color: white;
    padding: 0.5%;
    font-size: 20px;
}

.read:hover {
    background-color: white;
    color: #35302f;
    border-right: 5px solid black;
}

.btn-icon {
    background-color: white;
    padding: 1%;
    font-size: 20px;
    margin-left: -0.5%;
}

#panel {
    display: none;
}


/* geust */

.rooms {
    background-color: #f2ece0;
    padding: 30px 0;
}

.room_img {
    background-image: url("./images/guest-room.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.geust_title {
    font-size: 40px;
    margin-left: 5px;
    margin-bottom: 0;
}

.rooms_title {
    color: #2f2b28;
    text-transform: uppercase;
    font-size: 45px;
    margin-top: 0;
}

.overlay1 {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 20px;
    z-index: 1;
    left: 0;
    bottom: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: white;
    align-items: flex-end;
    padding: 1% 1%;
    margin-top: 1%;
    margin-left: 2%;
}

.room_content {
    padding: 1% 3%;
}

.browm {
    background-color: #302923;
    color: #ffffff !important;
}

.view {
    background-color: #302923;
    color: #ffffff !important;
    border-radius: 0;
    padding: 8px 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s all;
    font-weight: bold;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
}

.bell {
    background-color: #574f4c;
    color: #ffffff;
    padding: 12px 15px 9px;
    vertical-align: middle;
    display: inline-block;
}

.view:hover {
    background-color: #574f4c;
}


/* gallery */

.title_gallery {
    letter-spacing: 1px;
    text-align: center;
}

.gallery_descp {
    padding: 0 50px;
    line-height: 24px;
    margin-bottom: 20px;
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome_property {
    background-image: url("./images/gallery1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0px 15px;
    padding: 15% 0%;
}

.welcome_overlay {
    transition: transform 0.35s;
    transform: translate3d(0, -10em, 0);
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    position: absolute;
    text-transform: capitalize;
    color: white !important;
    left: 0;
    right: 0;
    font-size: 18px;
    top: 50%;
    margin: 0 auto;
}


/* .welcome_overlay:hover {
    transform: translate3d(0, -200%, 0);
} */

.welcome_property:hover>.overlay_welcome {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.pool:hover>.overlay_welcome {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.overlay_welcome {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    text-align: justify;
    text-align-last: center;
    opacity: 0;
    color: white;
    background-color: #00000063;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
}

.pool {
    background-image: url("./images/gallery2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* Attraction */

.attraction_title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.attraction_title1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0;
    font-size: 12px;
    line-height: 1.2;
}

.attraction_title2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    margin-top: 10px;
    letter-spacing: 12px;
}

.attraction_title3 {
    letter-spacing: 2px;
}

.attraction_image {
    color: #ffffff;
}

.attraction_image {
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    color: var(--white);
}

.attraction_image ul {
    float: left;
    margin-bottom: 0;
}

.style_li {
    padding-left: 0;
    list-style: none;
}

.img_attr {
    overflow: hidden;
    position: relative;
}

.content .cont_overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    z-index: 1;
}

div {
    margin: 0;
}

.attraction_image ul li div img {
    height: 550px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.fadein-right {
    left: 80%;
}

.cont_desc {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    color: white;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: 2;
}

.cont_desc h3 {
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.attraction_image ul li {
    float: left;
    margin-bottom: 10px;
    width: 33.33%;
}

.img_attr {
    overflow: hidden;
    position: relative;
}

.content .cont_overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    z-index: 1;
}

.content:hover .cont_overlay {
    opacity: 1;
}

.content:hover .cont_desc {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.fadein-right {
    left: 80%;
}


/* sister properties */

.attraction_title2,
.sisterprop-title-1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    margin-top: 10px;
    letter-spacing: 12px;
}

.sisterprop-description {
    margin-top: 50px;
}

.sisterprop-details {
    margin: 25px 0 10px;
}

.properties {
    justify-content: center;
    flex-direction: column;
}

.img_flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.style-li {
    justify-content: space-around;
    list-style: none;
}


/* Subscribe */

.subscribe {
    margin: 10px 5% 20px;
}

.subscribe .row:first-of-type {
    display: flex;
    align-items: stretch;
}

.subscribe_cont,
.follow_cont {
    border: 1px solid #cdcdcd;
    padding: 20px 20px 10px;
    margin-bottom: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub_title,
.follow_title {
    min-height: 68px;
    margin-bottom: 10px;
}

.in_block {
    display: inline-block;
}

.svg-icon {
    width: 100px;
    height: 100%;
    padding: 2px 22px 10px;
}

.form_email .form-group {
    position: relative;
    margin-bottom: 10px;
}

.grecaptcha-badge {
    visibility: hidden;
}

.sub_title label,
.follow_title label {
    display: block;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 0.7;
    padding-top: 5px;
}

.sub_title span,
.follow_title span {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
}

.email_inp {
    width: 250px;
    height: 40px;
    border: 1px solid rgb(193, 193, 193);
    margin: 10px 25px;
    padding: 0px;
    resize: none;
    display: none;
}

.social-icons ul li {
    display: inline-block;
}

.social-icons ul li a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    margin: 0 20px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.form_email .form-control {
    color: #000000;
}

.form_email .form-control {
    background-color: #c9c9c9;
    color: var(--black);
    border: none;
    box-shadow: none;
    height: 54px;
    border-radius: 50px;
    padding: 6px 118px 6px 20px;
    -webkit-box-shadow: 0px 15px 15px -13px rgb(0 0 0 / 40%);
    -moz-box-shadow: 0px 15px 15px -13px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 15px 15px -13px rgb(0 0 0 / 40%);
}

.form_email .form-group {
    position: relative;
    margin-bottom: 10px;
}

.form_email button {
    position: absolute;
    right: 2px;
    top: 2px;
    border-radius: 50px;
    font-size: 16px;
    padding: 13px 20px;
    letter-spacing: 0.8px;
    font-weight: 700;
}

.btn-submit {
    background-color: #ffffff;
    color: #358a00;
}

.sub_title div:first-child+div {
    vertical-align: middle;
}

.sub_title label,
.follow_title label {
    display: block;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 0.7;
    padding-top: 5px;
}

.sub_title span,
.follow_title span {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
}

.hidden {
    display: none!important;
}

.form_email .form-control {
    color: #000000;
}

.connect_cont {
    visibility: hidden;
    width: 256px;
    height: 60px;
    display: block;
    transition: left 0.3s ease 0s;
    position: fixed;
    bottom: 14px;
    left: -186px;
    box-shadow: gray 0px 0px 5px;
    border-radius: 2px;
    overflow: hidden;
}

.follow-icon {
    width: 70%;
    height: 70%;
}

.li-style1 {
    justify-content: center;
}


/* footer */

footer {
    color: #ffffff;
}

footer {
    background-color: #1f0c00;
    color: var(--white);
    padding-top: 10px;
}

.section__footer {
    margin: 20px 5% 0;
}

.footer-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer__left {
    flex: 0 0 35%;
    max-width: 35%;
    text-align: center;
    align-self: center;
    padding: 0 15px;
}

.footer-logo {
    margin-top: -30px;
    margin-bottom: 40px;
}

.footer-logo a {
    color: #ffffff;
}

.ta-widget {
    display: flex;
    justify-content: center;
}

a,
a:hover,
a:focus,
a:active {
    outline: none;
    text-decoration: none;
    /* color: #000; */
}


/* footer */

.bg_footer {
    background-color: #1f0c00;
    padding-top: 10px;
}

.footer_logo {
    width: 40%;
    height: 80%;
}

.logo_cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.languages_cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer_li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul_list>li {
    list-style: none;
    color: white;
}

.ul_list {
    line-height: 2.5em;
}

.white {
    background-color: white !important;
    font-weight: 800;
    padding: 1px;
    line-height: 1px;
}

.languages,
.modify_btn {
    padding: 6px 21px 6px 21px;
}

.access_label {
    color: #ffffff !important;
    align-items: center;
    padding: 8px 8px;
}

.text-right {
    text-align: right;
}

.access {
    display: flex;
    background-color: #0563ae;
    padding: 1px 1px 1px 1px;
}

.wheelchair {
    width: 20%;
}

.ul_cities {
    list-style: none;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-bottom: 0;
    padding: 1%;
}

.cities_style {
    align-items: center;
    display: flex;
    justify-content: center;
}

.cities_style>a {
    border-right: 2px solid black;
}

#scroll {
    /* display: flex; */
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 10;
    position: fixed;
}

.bg_scroll_color {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    position: fixed;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

@media (min-width:0px) and (max-width:450px) {
    .reserv {
        display: none;
    }
    #main {
        flex-direction: row-reverse;
        justify-content: end;
    }
    .rooms {
        flex-direction: column;
    }
    .video {
        margin-top: -22% !important;
    }
    .sidebar {
        height: 70%;
    }
    .sidebar a {
        padding: 6px 15px 6px 15px;
        /* font-size: 20px; */
    }
    .social_cont>a {
        font-size: 0px;
    }
    .title,
    .wlcto {
        font-size: 15px;
    }
    .welcome {
        font-size: small !important;
    }
    .room_img {
        padding: 100% 50%;
    }
    .welcome_property {
        margin: 0px 0px;
        padding: 46% 0%;
    }
    .pool {
        margin: 0px 0px;
        padding: 46% 0%;
    }
    .welcome_overlay {
        top: 60% !important;
    }
    .style-li {
        flex-direction: column;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    a .attraction_image {
        display: flex;
    }
    .attraction_image ul {
        display: flex;
        flex-direction: column;
    }
    .attraction_image ul li {
        width: 100%;
    }
    .sub_title label,
    .follow_title label {
        font-size: 30px;
        font-weight: 500;
    }
    .attraction_title2,
    .sisterprop-title-1 {
        font-size: 22px;
    }
    .languages_cont {
        flex-direction: column;
    }
    .footer_li {
        flex-direction: column;
    }
    .ul_list {
        text-align: left !important;
    }
    .ul_cities {
        flex-direction: column;
        text-align: left;
    }
    .footer_logo {
        width: 80%;
        height: 80%;
    }
    .dash {
        display: none;
    }
    .logo_img {
        width: 50px;
        height: 40px;
        float: right !important;
    }
}

@media (max-width:1024px) {
    .video {
        margin-top: -13%;
    }
    .welcome_overlay {
        top: 60%;
    }
    .overlay_welcome {
        font-size: 11px;
    }
}

@media (max-width:768px) {
    .video {
        margin-top: -18%;
    }
    .gallery {
        display: flex;
        justify-content: center;
        flex-direction: column !important;
    }
    .welcome_overlay {
        top: 45%;
    }
}